:root {
    /* BLACKS */
    --polar-night1: #2E3440;
    --polar-night2: #3B4252;
    --polar-night3: #434C5E;
    --polar-night4: #4C566A;
  
    /* WHITES */
    --snow-storm1: #D8DEE9;
    --snow-storm2: #E5E9F0;
    --snow-storm3: #ECEFF4;
    --snow-storm4: #F8F9FB;
  
    /* BLUES */
    --frost1: #8FBCBB;
    --frost2: #88C0D0;
    --frost3: #81A1C1;
    --frost4: #5E81AC;
  
    /* COLOR */
    --aurora1: #BF616A;
    --aurora2: #D08770;
    --aurora3: #EBCB8B;
    --aurora4: #A3BE8C;
    --aurora5: #B48EAD;
  
    /* FONT SIZES */
    --fs-100: clamp(0.69rem, calc(0.69rem + 0.04vw), 0.72rem);
    --fs-200: clamp(0.83rem, calc(0.81rem + 0.12vw), 0.90rem);
    --fs-300: clamp(1.00rem, calc(0.96rem + 0.22vw), 1.13rem);
    --fs-400: clamp(1.20rem, calc(1.13rem + 0.36vw), 1.41rem);
    --fs-500: clamp(1.44rem, calc(1.33rem + 0.55vw), 1.76rem);
    --fs-600: clamp(1.73rem, calc(1.56rem + 0.82vw), 2.20rem);
    --fs-700: clamp(2.07rem, calc(1.84rem + 1.17vw), 2.75rem);
    --fs-800: clamp(2.49rem, calc(2.16rem + 1.64vw), 3.43rem);
  }
  
  @font-face {
    font-family: Roboto-Mono;
    font-weight: 400;
    src: url(../fonts/RobotoMono-VariableFont_wght.ttf);
  }

/* ------------------------------------- 
PSEUDO-ELEMENTS
------------------------------------- */
::selection {
    color: var(--polar-night2);
    background-color: var(--frost3);
}

::marker {
    color: var(--frost3);
}

/* ------------------------------------- 
  STANDARD TAGS
------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scrollbar-gutter: stable both-edges;
}

h1 {
    font-size: var(--fs-600);
    color: var(--frost1);
  }
  
h2 {
    font-size: var(--fs-500);
    color: var(--frost3);
}

h3 {
    font-size: var(--fs-400);
    color: var(--frost4);
}

b {
    color: var(--polar-night4);
}

body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--snow-storm3);
    color: var(--polar-night1);
}

footer {
    background-color: var(--snow-storm3);
    color: var(--polar-night4);
    padding: 3rem 1rem 1rem;
}

main {
    padding: 2rem;
}

footer {
    text-align: center;
}

ul, ol {
    padding-left: 3rem;
}

a {
    transition: color 0.3s ease;

}

a:hover {
    transition: text-decoration 0.3s ease;
}


/* ------------------------------------- 
  Blockquote
------------------------------------- */
.quote-container {
    margin: 20px 0;
    padding: 20px;
    background-color: var(--snow-storm2);
    border-left: 5px solid var(--frost1);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.quote-text {
    font-size: 1.1em;
    font-style: italic;
    color: var(--polar-night1);
}
.quote-attribution {
    display: block;
    margin-top: 10px;
    text-align: right;
    font-size: 0.9em;
    color: var(--frost3);
}

/* ------------------------------------- 
  UTILITY
------------------------------------- */
.content-wrapper {
    width: min(1100px, 100vw);
    margin: 0 auto;
    overflow-x: hidden;
}

.accent-color {
    color: var(--frost1);
}

.center-element {
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* ------------------------------------- 
  NAVBAR
------------------------------------- */
.navbar {
    background-color: var(--snow-storm3);
    padding: 1rem 2rem;
    text-align: center;
    font-size: larger;
    max-width: min(100vw, 1100px);
    margin: 0 auto;
}

.nav-container {
    position: relative;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav li {
    padding: 0 1rem;
}

nav a {
    text-decoration: none;
    color: var(--polar-night1);
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    display: flex;
    list-style-type: none;
    width: 100%;
    z-index: 1000;
}

.nav-links li a {
    text-decoration: none;
    color: var(--polar-night1);
    position: relative;
    padding: 5px 0;
}

.nav-links li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background-color: var(--frost1);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
}

.nav-links li a:hover::before {
    transform: scaleX(1);
    transform-origin: center;
}

.nav-links.active a {
    display: block;
    padding: 10px;
    color: var(--polar-night1);
    text-align: left;
}

/* ------------------------------------- 
  HAMBURGER
------------------------------------- */
.hamburger {
    display: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.hamburger-box {
    width: 30px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: var(--polar-night1);
    display: block;
    height: 3px;
    position: absolute;
    transition: background-color 0.25s ease-in-out;
    width: 100%;
}

.hamburger-inner {
    top: 50%;
    transform: translateY(-50%);
}

.hamburger-inner::before, .hamburger-inner::after {
    content: "";
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
}

/* ------------------------------------- 
  HERO
------------------------------------- */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--polar-night1);
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    color: var(--polar-night2);
}

.hero p {
    color: var(--polar-night4);
}

/* ------------------------------------- 
  TABS
------------------------------------- */
.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--snow-storm4);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5rem;
    padding: 0.5rem;
    width: min(90vw, 600px);
    margin: 6rem auto;
    background-color: var(--snow-storm4);
}

input[type="radio"] {
    display: none;
}

label {
    height: 3rem;
    width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
}

.glider {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    background: var(--frost1);
    height: 3rem;
    width: min(12rem, 28vw);
    border-radius: 2rem;
    transition: ease .3s;
}

#tab1:checked ~ .glider {
    transform: translateX(0);
}

#tab2:checked ~ .glider {
    transform: translateX(min(12rem, 29vw));
}

#tab3:checked ~ .glider {
    transform: translateX(min(24rem, 58vw));
}

.tab-content {
    display: none;
    padding: 0 0 8rem;
    height: 16rem;
}

/* ------------------------------------- 
  RESUME
------------------------------------- */
.resume-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    width: 100%;
}

.profile-picture {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 0;
    margin-left: 10%;
}

.header-text {
    width: 100%;
    padding-left: 50px;
}

.job-title {
    color: var(--polar-night4);
    font-size: var(--fs-300);
}

.name {
    color: var(--frost1);
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 10px;
}

.summary {
    padding: 0rem 4rem 4rem;
}

/* ------------------------------------- 
  CONTACT INFO
------------------------------------- */
.contact-info {
    font-size: 1em;
    color: var(--polar-night2);
    list-style-type: none;
    padding-left: 0;
}

.contact-info li {
    display: flex;
    align-items: center;
}

.contact-info li b {
    width: 10rem;
    display: inline-block;
    margin-right: 10px;
}

.contact-info li span {
    display: inline-block;
}

.contact-info a {
    color: inherit;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
    color: var(--frost1);
}

/* ------------------------------------- 
  SKILLS
------------------------------------- */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 4rem;
    grid-gap: 4rem;
}

.skill-card {
    background-color: var(--snow-storm4);
    border-radius: 8px;
    padding: 1rem;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    transition: box-shadow 0.3s ease-in-out;
    text-align: center;
}

/* .skill-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
} */

.skill-card h3 {
    color: var(--frost3);
}

.skill-card p {
    color: var(--polar-night4);
}

/* ------------------------------------- 
  EXPERIENCE
------------------------------------- */
.experience {
    padding: 4rem;
}

/* ------------------------------------- 
  ARTICLES FEED
------------------------------------- */
.articles-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

h1 {
    margin: 0;
}

a, .button, .card-read-more {
    color: var(--frost1);
}

.cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    max-width: 1100px;
    margin: 0 auto;
}

.card {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    overflow: hidden;
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    transition: box-shadow 0.3s ease-in-out;
    background-color: var(--snow-storm4);
}

.card:hover {
    box-shadow: 8px 16px 16px rgba(0, 0, 0, 0.1);
}

.card-media {
    background-color: var(--frost1);
    width: 25%;
    min-height: 15rem;
}

.card-content {
    padding: 1rem;
    padding-left: 2rem;
    width: 75%;
}

.card-title {
    margin: 0;
    color: var(--polar-night1);
    font-size: 1.2rem;
}

.card-date {
    color: var(--polar-night4);
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.card-summary {
    color: var(--polar-night1);
    font-size: 1rem;
    margin-bottom: 1rem;
}

.card-read-more {
    color: var(--frost4);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.card-read-more:hover {
    color: var(--frost3);
}

/* ------------------------------------- 
  PAGINATION
------------------------------------- */
#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 1rem;
}

.pagination-button {
    background-color: var(--snow-storm3);
    color: var(--polar-night1);
    border: 0px;
    padding: 0.5rem 1rem;
    margin: 0 0.25rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 4px;
}

.pagination-button:hover {
    background-color: var(--frost3);
    color: var(--snow0);
}

.pagination-button.active {
    background-color: var(--frost3);
}

/* ------------------------------------- 
  CUSTOM DROPDOWN
------------------------------------- */
.custom-select-wrapper {
    position: relative;
    user-select: none;
    width: 200px;
}

.custom-select {
    position: relative;
}

.custom-select-trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    font-size: 1rem;
    color: var(--polar-night1);
    background-color: var(--snow-storm4);
    border: 1px solid var(--snow-storm1);
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.custom-select-trigger:after {
    content: '▼';
    padding: 0 5px;
    transition: transform 0.3s ease;
}

.custom-select.open .custom-select-trigger:after {
    transform: rotate(180deg);
}

.custom-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid var(--snow-storm1);
    border-top: none;
    background: var(--snow-storm4);
    border-radius: 0 0 4px 4px;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, transform 0.3s ease;
    transform-origin: top;
}

.custom-select.open .custom-options {
    max-height: 200px;
    transform: scaleY(1);
}

.custom-option {
    display: block;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.2s;
    border-bottom: 1px solid var(--snow-storm1);
}

.custom-option:last-child {
    border-bottom: none;
}

.custom-option:hover {
    background-color: var(--frost1);
}

.custom-select.open .custom-options {
    display: block;
}

/* ------------------------------------- 
  ARTICLE
------------------------------------- */
.article-header {
    padding: 2rem 0 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--frost1);
}

.post-meta {
    color: var(--polar-night1);
}

.articles-post {
    margin: 40px;
    background-color: var(--snow-storm4);
    color: var(--polar-night1);
    padding: 60px;
    border-radius: 15px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    box-shadow:
    0px 1px 1px rgba(0, 0, 0, 0.05),
    1px 2px 2px rgba(0, 0, 0, 0.05),
    2px 4px 4px rgba(0, 0, 0, 0.05),
    4px 8px 8px rgba(0, 0, 0, 0.05),
    8px 16px 16px rgba(0, 0, 0, 0.05);
}

.post-content img {
    max-width: 100%;
    height: auto;
}

.layered-box {
    box-shadow:
      0px 1px 1px rgba(0, 0, 0, 0.05),
      1px 2px 2px rgba(0, 0, 0, 0.05),
      2px 4px 4px rgba(0, 0, 0, 0.05),
      4px 8px 8px rgba(0, 0, 0, 0.05),
      8px 16px 16px rgba(0, 0, 0, 0.05);
}

/* ------------------------------------- 
  MEDIA QUERIES
------------------------------------- */
@media (max-width: 1100px) {
    .content-wrapper {
        padding: 0 10px;
    }
}

@media (max-width: 768px) {
    .navbar {
        padding: 1.5rem;
    }

    .hamburger {
        display: block;
    }

    .nav-links {
        display: none;
    }

    .nav-links.active {
        display: block;
        position: absolute;
        background-color: var(--snow-storm3);
        width: 100%;
        left: 0;
        top: 100%;
    }

    .nav-links:not(.active) {
        box-shadow: none;
    }

    .hero, .hero-content {
        padding: 2rem 0.5rem 0;   
    }

    .contact-info li b {
        width: 8rem;
    }

    .articles-header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .articles-header h1, .custom-select-wrapper {
    width: 100%;
    text-align: center;
    margin-bottom: 4rem;
    }

    .card {
        display: flex;
        flex-direction: column;
    }

    .card-media {
        width: 100%;
        min-height: 10rem;
    }

    .card-content {
        width: 100%;
    }

    .articles-post {
        padding: 15px;
    }

    .resume-header {
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }

    .profile-picture {
        width: 200px;
        height: 200px;
        margin: 0;
        margin: 10% 0;
    }

    .header-text {
        padding: 0;
        padding-top: 2rem;
    }

    .summary {
        text-align: left;
        padding: 4rem 1.5rem;
    }

    .skills-grid {
        grid-template-columns: 1fr;
        padding: 1.5rem;
        grid-gap: 2.5rem;
    }

    .skill-card {
        margin: -5rem 0 6rem;
    }

    .experience {
        padding: 1.5rem;
    }

    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 1rem;
    }
    #pagination {
        flex-wrap: wrap;
    }

    .pagination-button {
        margin: 0.25rem;
    }
}

@media (max-width: 480px) {
    .articles-post {
        margin-bottom: 20px;
    }
    .resume-section {
        margin-bottom: 20px;
    }
}